* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
  background-color: black;
}

span {
    position: fixed;
    top: -8vh;
    right: 7vw;
    margin: 5px;
    padding: 0px 24px;
    background-color: none;
    color: white;
    z-index: 9999999;
    cursor: pointer;
    font-size: 100pt;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 9999999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255); /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: left; /* Centered text/links */
    margin-left: 10vw;
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    z-index: 3;
}
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: rgb(0, 0, 0);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: darkgray;
  }
  
  /* Position the close button (top left corner) */
  .overlay .closebtn {
    position: absolute;
    top: 5vh;
    left: 2vw;
    font-size: 40px;
    padding: 10px 24px;
    border-radius: 15px;
    color: black;
  }

@media only screen and (max-width: 1255px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .menuopt {
    display: none;
  }

  .icon-bar {
    position: relative;
    display: flex;
    top: 30vh;
    left: 10vw;
    background-color: none;
    z-index: 99999;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 15px 20px 5px 20px;
    transition: all 0.3s ease;
    color: black;
    font-size: 32px;
    border-radius: 5px;
  }
  
  .facebook i {
    padding: 0 5px;
  }
  
  .facebook:hover{
    background: #3B5998;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .instagram:hover {
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .email:hover {
    background: #164622;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .linkedin:hover {
    background: #007bb5;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .github:hover {
    background: #6e5494;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
    
  .wallpaper {
      width: 100%; /* width of container */
      height: 100vh; /* height of container */
      object-fit: cover;
      object-position: 50% 100% 20%;
      filter: brightness(70%);
      animation: hover 8s;
      animation-play-state: paused;
      animation-fill-mode: backwards;
  }
    
  @keyframes hover {
    0% {
      // normal
      filter: brightness(0%);
    }
    100% {
      // hover
      filter: brightness(70%);
    }
  }
    
  .wallpaper:active,
  .wallpaper:focus,
  .wallpaper:hover {
    animation-play-state: running;
    animation-play-state: forwards;
    animation-fill-mode: forwards;
  }
    
  .brand {
      padding: 0.5em;
      position: absolute;
      left: 2em;
      top: 1.5em;
      z-index: 101;
  
      a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.589);
      font-weight: 300;
      font-size: 5vw;
  
      &:hover {
        background: -webkit-linear-gradient(45deg, green, white);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
          }
  
      }
  }
    
  ul {
      list-style-type: none;
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      right: 2em;
      top: 2em;
      z-index: 100;
  }
      
  li {
    float: right;
    padding: 20px;
  }
      
  li a {
    display: block;
    color: rgba(255, 255, 255, 0.589);
    text-align: center;
    text-decoration: none;
    font-weight: 300;

  &:hover {
    color: white;
    text-decoration: underline;
    }
  }
    
  .believe {
    position: absolute;
    z-index: 99;
    top: 20vh;
    left: -0.3em;
    margin: 100px 600px 100px 100px;
    z-index: 100;
    font-size: 5.3vw;
    font-weight: 100;
    color: white;
    text-align: left;
  }
    
  #myBtn {
    display: none;
    position: fixed;
    bottom: 3em;
    right: .5em;
    z-index: 9999999;
    border: black 2px solid;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 10pt;
    border-radius: 10px;
    background-color: darkslategray;
    color: white;

      &:hover {
        background-color: darkslategray;
        color: white;
        border: white 2px solid;
      }
  }

  span {
    font-size: 8em;
    color: white;
    z-index: 999999999999999;
    position: fixed;
    top: -3vh;
    right: 2vw;
  }


.wallpaper2 {
  width: 100%; /* width of container */
  height: 100vh; /* height of container */
  object-fit: cover;
  object-position: 50% 100% 20%;
  filter: brightness(80%);
  animation: hover 8s;
  animation-play-state: paused;
  animation-fill-mode: backwards;
  overflow-y: hidden;
  margin-top: -7px;
}

@keyframes hover {
0% {
  // normal
  filter: brightness(0%);
}
100% {
  // hover
  filter: brightness(80%);
}
}

.wallpaper2:active,
.wallpaper2:focus,
.wallpaper2:hover {
animation-play-state: running;
animation-play-state: forwards;
animation-fill-mode: forwards;
}

.achieve {
position: absolute;
z-index: 99;
top: 110vh;
left: 15px;
margin: 100px 100px 100px 100px;
z-index: 100;
font-size: 2vw;
font-weight: 100;
color: white;
text-align: center;
}

.wallpaper3 {
  width: 100%; /* width of container */
  height: 100vh; /* height of container */
  margin-top: -7px;
  object-fit: cover;
  object-position: 50% 100% 20%;
  filter: brightness(80%);
  animation: hover 2s;
  animation-play-state: paused;
  animation-fill-mode: backwards;
  overflow-y: hidden;
}

@keyframes hover {
0% {
  // normal
  filter: brightness(0%);
}
100% {
  // hover
  filter: brightness(80%);
}
}

.wallpaper3:active,
.wallpaper3:focus,
.wallpaper3:hover {
animation-play-state: running;
animation-play-state: forwards;
animation-fill-mode: forwards;
}

.banner {
display: block;
position: absolute;
width: auto;
left: 28vw;
top: 218vh;
height: 200px;
background-color: rgb(15, 26, 26);
border-radius: 25px;
border: green solid 2px;
box-shadow: 2px 2px 2px;
overflow-y: hidden;
}

.webpage {
width: 45vw;
height: auto;
border-radius: 25px;
opacity: 85%;

&:hover {
  opacity: 100%;
}
}

.information h4{
  display: none;
}

.banner1 {
display: block;
position: absolute;
width: auto;
left: 28vw;
top: 245vh;
height: 200px;
background-color: rgb(15, 26, 26);
border-radius: 25px;
border: green solid 2px;
box-shadow: 2px 2px 2px;
overflow-y: hidden;
}

.webpage1 {
width: 45vw;
height: auto;
border-radius: 25px;
opacity: 85%;

&:hover {
  opacity: 100%;
}
}

.information1 h4{
  display: none;
}

.banner2 {
display: block;
position: absolute;
width: auto;
left: 28vw;
top: 272vh;
height: 200px;
background-color: rgb(15, 26, 26);
border-radius: 25px;
border: green solid 2px;
box-shadow: 2px 2px 2px;
overflow-y: hidden;
}

.webpage2 {
width: 45vw;
height: auto;
border-radius: 25px;
opacity: 85%;

&:hover {
  opacity: 100%;
}
}

.information2 h4{
  display: none;
}

.project-title {
color: white;
font-weight: 200;
padding: 0 25px;
background-color: rgb(15, 26, 26);
border-radius: 25px;
border: green solid 2px;
font-size: 2em;
position: absolute;
top: 207vh;
left: 42vw;
}


}

@media only screen and (max-width: 800px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .menuopt {
    display: none;
  }
  .icon-bar {
    position: relative;
    display: flex;
    top: 30vh;
    left: 10vw;
    background-color: none;
    z-index: 99999;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 15px 20px 5px 20px;
    transition: all 0.3s ease;
    color: black;
    font-size: 32px;
    border-radius: 5px;
  }
  
  .facebook i {
    padding: 0 5px;
  }
  
  .facebook:hover{
    background: #3B5998;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .instagram:hover {
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .email:hover {
    background: #164622;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .linkedin:hover {
    background: #007bb5;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .github:hover {
    background: #6e5494;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
    
  .wallpaper {
      width: 100%; /* width of container */
      height: 100vh; /* height of container */
      object-fit: cover;
      object-position: 50% 100% 20%;
      filter: brightness(70%);
      animation: hover 8s;
      animation-play-state: paused;
      animation-fill-mode: backwards;
  }
    
  @keyframes hover {
    0% {
      // normal
      filter: brightness(0%);
    }
    100% {
      // hover
      filter: brightness(70%);
    }
  }
    
  .wallpaper:active,
  .wallpaper:focus,
  .wallpaper:hover {
    animation-play-state: running;
    animation-play-state: forwards;
    animation-fill-mode: forwards;
  }
    
  .brand {
      padding: 0.5em;
      position: absolute;
      left: 2em;
      top: 1.5em;
      z-index: 101;
  
      a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.589);
      font-weight: 300;
      font-size: 5vw;
  
      &:hover {
        background: -webkit-linear-gradient(45deg, green, white);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
          }
  
      }
  }
    
  ul {
      list-style-type: none;
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      right: 2em;
      top: 2em;
      z-index: 100;
  }
      
  li {
    float: right;
    padding: 20px;
  }
      
  li a {
    display: block;
    color: rgba(255, 255, 255, 0.589);
    text-align: center;
    text-decoration: none;
    font-weight: 300;

  &:hover {
    color: white;
    text-decoration: underline;
    }
  }
    
  .believe {
    position: absolute;
    z-index: 99;
    top: 20vh;
    left: -.8em;
    margin: 100px 600px 100px 100px;
    z-index: 100;
    font-size: 6.5vw;
    font-weight: 100;
    color: white;
    text-align: left;
  }
    
  #myBtn {
    display: none;
    position: fixed;
    bottom: 3em;
    right: .5em;
    z-index: 99;
    border: black 2px solid;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 10pt;
    border-radius: 10px;
    background-color: #16462254;
    color: white;

      &:hover {
        background-color: darkslategray;
        color: white;
        border: white 2px solid;
      }
  }

  #myBtn {
    z-index: 9999999;
  }

  span {
    font-size: 80pt;
    color: white;
    z-index: 999999999999999;
    position: fixed;
    top: -3vh;
    right: 0;
  }


  .wallpaper2 {
    width: 100%; /* width of container */
    height: 100vh; /* height of container */
    margin-top: -7px;
    object-fit: cover;
    object-position: 50% 100% 20%;
    filter: brightness(80%);
    animation: hover 8s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    overflow-y: hidden;
  }

  @keyframes hover {
  0% {
    // normal
    filter: brightness(0%);
  }
  100% {
    // hover
    filter: brightness(80%);
  }
  }

  .wallpaper2:active,
  .wallpaper2:focus,
  .wallpaper2:hover {
  animation-play-state: running;
  animation-play-state: forwards;
  animation-fill-mode: forwards;
  }

  .achieve {
  position: absolute;
  z-index: 99;
  top: 110vh;
  left: 15px;
  margin: 100px 100px 100px 100px;
  z-index: 100;
  font-size: 1em;
  font-weight: 100;
  color: white;
  text-align: center;
  }

  .wallpaper3 {
    width: 100%; /* width of container */
    height: 100vh; /* height of container */
    margin-top: -7px;
    object-fit: cover;
    object-position: 50% 100% 20%;
    filter: brightness(80%);
    animation: hover 2s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    overflow-y: hidden;
  }
  
  @keyframes hover {
  0% {
    // normal
    filter: brightness(0%);
  }
  100% {
    // hover
    filter: brightness(80%);
  }
  }
  
  .wallpaper3:active,
  .wallpaper3:focus,
  .wallpaper3:hover {
  animation-play-state: running;
  animation-play-state: forwards;
  animation-fill-mode: forwards;
  }
  
  .banner {
    display: block;
    position: absolute;
    width: auto;
    top: 218vh;
    height: 200px;
    left: 20vw;
    background-color: rgb(15, 26, 26);
    border-radius: 25px;
    border: green solid 2px;
    box-shadow: 2px 2px 2px;
    overflow-y: hidden;
  }
  
  .webpage {
    width: 420px;
    height: auto;
    border-radius: 25px;
    opacity: 85%;
    
    &:hover {
      opacity: 100%;
    }
  }
  
  .information h4{
    display: none;
  }
  
  .banner1 {
  display: block;
  position: absolute;
  width: auto;
  top: 245vh;
  left: 20vw;
  height: 200px;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  border: green solid 2px;
  box-shadow: 2px 2px 2px;
  overflow-y: hidden;
  }
  
  .webpage1 {
  width: 420px;
  height: auto;
  border-radius: 25px;
  opacity: 85%;
  
  &:hover {
    opacity: 100%;
  }
  }
  
  .information1 h4{
    display: none;
  }
  
  .banner2 {
  display: block;
  position: absolute;
  width: auto;
  top: 272vh;
  left: 20vw;
  height: 200px;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  border: green solid 2px;
  box-shadow: 2px 2px 2px;
  overflow-y: hidden;
  }
  
  .webpage2 {
  width: 420px;
  height: auto;
  border-radius: 25px;
  opacity: 85%;
  
  &:hover {
    opacity: 100%;
  }
  }
  
  .information2 h4{
    display: none;
  }
  
  .project-title {
  color: white;
  font-weight: 200;
  padding: 0 25px;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  border: green solid 2px;
  font-size: 2em;
  position: absolute;
  top: 207vh;
  left: 38vw;
  }


}

@media only screen and (max-width: 600px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .menuopt {
    display: none;
  }

  .icon-bar {
    position: relative;
    display: flex;
    top: 30vh;
    left: 10vw;
    background-color: none;
    z-index: 99999;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 15px 20px 5px 20px;
    transition: all 0.3s ease;
    color: black;
    font-size: 32px;
    border-radius: 5px;
  }
  
  .facebook i {
    padding: 0 5px;
  }
  
  .facebook:hover{
    background: #3B5998;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .instagram:hover {
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .email:hover {
    background: #164622;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .linkedin:hover {
    background: #007bb5;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .github:hover {
    background: #6e5494;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
    
  .wallpaper {
      width: 100%; /* width of container */
      height: 100vh; /* height of container */
      object-fit: cover;
      object-position: 50% 100% 20%;
      filter: brightness(70%);
      animation: hover 8s;
      animation-play-state: paused;
      animation-fill-mode: backwards;
  }
    
  @keyframes hover {
    0% {
      // normal
      filter: brightness(0%);
    }
    100% {
      // hover
      filter: brightness(70%);
    }
  }
    
  .wallpaper:active,
  .wallpaper:focus,
  .wallpaper:hover {
    animation-play-state: running;
    animation-play-state: forwards;
    animation-fill-mode: forwards;
  }
    
  .brand {
      padding: 0.5em;
      position: absolute;
      left: 2em;
      top: 1.5em;
      z-index: 101;
  
      a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.589);
      font-weight: 300;
      font-size: 5vw;
  
      &:hover {
        background: -webkit-linear-gradient(45deg, green, white);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
          }
  
      }
  }
    
  ul {
      list-style-type: none;
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      right: 2em;
      top: 2em;
      z-index: 100;
  }
      
  li {
    float: right;
    padding: 20px;
  }
      
  li a {
    display: block;
    color: rgba(255, 255, 255, 0.589);
    text-align: center;
    text-decoration: none;
    font-weight: 300;

  &:hover {
    color: white;
    text-decoration: underline;
    }
  }
    
  .believe {
    position: absolute;
    z-index: 99;
    top: 20vh;
    left: -.8em;
    margin: 100px 600px 100px 100px;
    z-index: 100;
    font-size: 10vw;
    font-weight: 100;
    color: white;
    text-align: left;
  }
    
  #myBtn {
    display: none;
    position: fixed;
    bottom: 3em;
    right: .5em;
    z-index: 9999999;
    border: black 2px solid;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 10pt;
    border-radius: 10px;
    background-color: #16462254;
    color: white;

      &:hover {
        background-color: darkslategray;
        color: white;
        border: white 2px solid;
      }
  }

  span {
    font-size: 60pt;
    color: white;
    z-index: 999999999999999;
    position: fixed;
    top: 0vh;
    right: 0;
  }

  .wallpaper2 {
    width: 100%; /* width of container */
    height: 100vh; /* height of container */
    margin-top: -7px;
    object-fit: cover;
    object-position: 50% 100% 20%;
    filter: brightness(80%);
    animation: hover 8s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    overflow-y: hidden;
  }

  @keyframes hover {
  0% {
    // normal
    filter: brightness(0%);
  }
  100% {
    // hover
    filter: brightness(80%);
  }
}

  .wallpaper2:active,
  .wallpaper2:focus,
  .wallpaper2:hover {
  animation-play-state: running;
  animation-play-state: forwards;
  animation-fill-mode: forwards;
  }

  .achieve {
  position: absolute;
  z-index: 99;
  top: 110vh;
  left: 15px;
  margin: 100px 100px 100px 100px;
  z-index: 100;
  font-size: 2vw;
  font-weight: 100;
  color: white;
  text-align: center;
  }

  .wallpaper3 {
    width: 100%; /* width of container */
    height: 100vh; /* height of container */
    margin-top: -7px;
    object-fit: cover;
    object-position: 50% 100% 20%;
    filter: brightness(80%);
    animation: hover 2s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    overflow-y: hidden;
  }
  
  @keyframes hover {
  0% {
    // normal
    filter: brightness(0%);
  }
  100% {
    // hover
    filter: brightness(80%);
  }
  }
  
  .wallpaper3:active,
  .wallpaper3:focus,
  .wallpaper3:hover {
  animation-play-state: running;
  animation-play-state: forwards;
  animation-fill-mode: forwards;
  }
  
  .banner {
  display: block;
  position: absolute;
  width: auto;
  top: 218vh;
  height: auto;
  left: 10vw;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  overflow-y: hidden;
  }
  
  .webpage {
    width:75vw;
    height: auto;
    border-radius: 25px;
    opacity: 85%;

      
    &:hover {
      opacity: 100%;
    }
  }
  
  .information h4{
    display: none;
  }
  
  .banner1 {
  display: block;
  position: absolute;
  width: auto;
  top: 245vh;
  left: 10vw;
  height: auto;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  overflow-y: hidden;
  }
  
  .webpage1 {
    width:75vw;
    height: auto;
    border-radius: 25px;
    opacity: 85%;
  
    &:hover {
      opacity: 100%;
    }
  }
  
  .information1 h4{
    display: none;
  }
  
  .banner2 {
  display: block;
  position: absolute;
  width: auto;
  top: 272vh;
  left: 10vw;
  height: auto;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  overflow-y: hidden;
  }
  
  .webpage2 {
    width:75vw;
    height: auto;
    border-radius: 25px;
    opacity: 85%;
    
    &:hover {
      opacity: 100%;
    }
  }
  
  .information2 h4{
    display: none;
  }
}
      
@media only screen and (max-width: 599px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .menuopt {
    display: none;
  }

  .icon-bar {
    position: relative;
    display: flex;
    top: 30vh;
    left: 10vw;
    background-color: none;
    z-index: 99999;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 15px 20px 5px 20px;
    transition: all 0.3s ease;
    color: black;
    font-size: 32px;
    border-radius: 5px;
  }
  
  .facebook i {
    padding: 0 5px;
  }
  
  .facebook:hover{
    background: #3B5998;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .instagram:hover {
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .email:hover {
    background: #164622;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .linkedin:hover {
    background: #007bb5;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
  
  .github:hover {
    background: #6e5494;
    -webkit-text-fill-color: white;
    transition: ease-in-out 0.3s;
  }
    
  .wallpaper {
      width: 100%; /* width of container */
      height: 100vh; /* height of container */
      object-fit: cover;
      object-position: 50% 100% 20%;
      filter: brightness(70%);
      animation: hover 8s;
      animation-play-state: paused;
      animation-fill-mode: backwards;
  }
    
  @keyframes hover {
    0% {
      // normal
      filter: brightness(0%);
    }
    100% {
      // hover
      filter: brightness(70%);
    }
  }
    
  .wallpaper:active,
  .wallpaper:focus,
  .wallpaper:hover {
    animation-play-state: running;
    animation-play-state: forwards;
    animation-fill-mode: forwards;
  }
    
  .brand {
      padding: 0.5em;
      position: absolute;
      left: 2em;
      top: 1.5em;
      z-index: 101;
  
      a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.589);
      font-weight: 300;
      font-size: 5vw;
  
      &:hover {
        background: -webkit-linear-gradient(45deg, green, white);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
          }
  
      }
  }
    
  ul {
      list-style-type: none;
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      right: 2em;
      top: 2em;
      z-index: 100;
  }
      
  li {
    float: right;
    padding: 20px;
  }
      
  li a {
    display: block;
    color: rgba(255, 255, 255, 0.589);
    text-align: center;
    text-decoration: none;
    font-weight: 300;

  &:hover {
    color: white;
    text-decoration: underline;
    }
  }
    
  .believe {
    position: absolute;
    z-index: 99;
    top: 20vh;
    left: -.8em;
    margin: 100px 600px 100px 100px;
    z-index: 100;
    font-size: 8vw;
    font-weight: 100;
    color: white;
    text-align: left;
  }
    
  #myBtn {
    display: none;
    position: fixed;
    bottom: 3em;
    right: .5em;
    z-index: 99;
    border: black 2px solid;
    cursor: pointer;
    padding: 5px 15px;
    font-size: 10pt;
    border-radius: 10px;
    background-color: #16462254;
    color: white;

      &:hover {
        background-color: darkslategray;
        color: white;
        border: white 2px solid;
      }
  }
    
  .wallpaper2 {
      width: 100%;
      height: 100vh;
      margin-top: -7px;
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(51, 74, 51);
  }

  #myBtn {
    z-index: 9999999;
  }

  span {
    font-size: 60pt;
    color: white;
    z-index: 999999999999999;
    position: fixed;
    top: -0.8vh;
    right: 0;
  }


  .wallpaper2 {
    width: 100%; /* width of container */
    height: 100vh; /* height of container */
    object-fit: cover;
    object-position: 50% 100% 20%;
    filter: brightness(80%);
    animation: hover 8s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    overflow-y: hidden;
  }

  @keyframes hover {
  0% {
    // normal
    filter: brightness(0%);
  }
  100% {
    // hover
    filter: brightness(80%);
  }
  }

  .wallpaper2:active,
  .wallpaper2:focus,
  .wallpaper2:hover {
  animation-play-state: running;
  animation-play-state: forwards;
  animation-fill-mode: forwards;
  }

  .achieve {
  position: absolute;
  z-index: 99;
  top: 110vh;
  left: 15px;
  margin: 100px 100px 100px 100px;
  z-index: 100;
  font-size: 1em;
  font-weight: 100;
  color: white;
  text-align: center;
  }


}

