* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
  background-color: black;
}

.icon-bar {
  position: fixed;
  display: flex;
  top: 4.5vh;
  left: 72vw;
  background-color: none;
  z-index: 99999999;
}

.icon-bar a{
  display: block;
  text-align: center;
  padding: 15px 20px 5px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 32px;
  border-radius: 5px;
  background: -webkit-linear-gradient(45deg, white, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.facebook i{
  padding: 0 5px;
}

.facebook:hover{
  background: #3B5998;
  -webkit-text-fill-color: white;
  transition: ease-in-out 0.3s;
}

.instagram:hover {
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  -webkit-text-fill-color: white;
  transition: ease-in-out 0.3s;
}

.email:hover {
  background: #164622;
  -webkit-text-fill-color: white;
  transition: ease-in-out 0.3s;
}

.linkedin:hover {
  background: #007bb5;
  -webkit-text-fill-color: white;
  transition: ease-in-out 0.3s;
}

.github:hover {
  background: #6e5494;
  -webkit-text-fill-color: white;
  transition: ease-in-out 0.3s;
}

.wallpaper {
    width: 100%; /* width of container */
    height: 100vh; /* height of container */
    object-fit: cover;
    object-position: 50% 100% 20%;
    filter: brightness(70%);
    animation: hover 5s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    overflow-y: hidden;
}

@keyframes hover {
  0% {
    // normal
    filter: brightness(0%);
  }
  100% {
    // hover
    filter: brightness(70%);
  }
}

.wallpaper:active,
.wallpaper:focus,
.wallpaper:hover {
  animation-play-state: running;
  animation-play-state: forwards;
  animation-fill-mode: forwards;
}

.brand {
    padding: 0.5em;
    position: fixed;
    left: 4.4em;
    top: 1.5em;
    z-index: 99999999;

    a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.589);
    font-weight: 300;
    font-size: 24pt;

    &:hover {
      background: -webkit-linear-gradient(45deg, green, white);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
        }

    }
}

ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    right: 2em;
    top: 2em;
    z-index: 99999999;
  }
  
li {
    float: right;
    padding: 20px;
  }
  
li a {
    display: block;
    color: rgba(255, 255, 255, 0.589);
    text-align: center;
    text-decoration: none;
    font-weight: 300;

  &:hover {
    color: white;
    text-decoration: underline;
  }
}

.believe {
    position: absolute;
    z-index: 99;
    top: 100px;
    left: 15px;
    margin: 100px 600px 100px 100px;
    z-index: 100;
    font-size: 6vw;
    font-weight: 100;
    color: white;
    text-align: left;
  }

#myBtn {
    display: none;
    position: fixed;
    bottom: 3em;
    right: 3em;
    z-index: 9999999;
    border: black 2px solid;
    cursor: pointer;
    padding: 5px 50px;
    font-size: 10pt;
    border-radius: 10px;
    background-color: rgba(47, 79, 79, 0.618);
    color: white;

      &:hover {
        background-color: darkslategray;
        color: white;
        border: white 2px solid;
      }
  }

.wallpaper2 {
    width: 100%; /* width of container */
    height: 100vh; /* height of container */
    object-fit: cover;
    object-position: 50% 100% 20%;
    filter: brightness(80%);
    animation: hover 5s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    overflow-y: hidden;
}

@keyframes hover {
  0% {
    // normal
    filter: brightness(0%);
  }
  100% {
    // hover
    filter: brightness(80%);
  }
}

.wallpaper2:active,
.wallpaper2:focus,
.wallpaper2:hover {
  animation-play-state: running;
  animation-play-state: forwards;
  animation-fill-mode: forwards;
}

.achieve {
  position: absolute;
  z-index: 99;
  top: 105vh;
  left: 15px;
  margin: 100px 100px 100px 100px;
  z-index: 100;
  font-size: 2vw;
  font-weight: 100;
  color: white;
  text-align: center;
}

  .overlay-content {
    display: none;
  }

  .closebtn {
    display: none;
  }

  span {
    display: none;
  }

  .menuopt {
    display: block;
    position: absolute;
    margin-top: 6vh;
    margin-right: 55vw;
    a {
      color: rgba(255, 255, 255, 0.589);      
    
      &:hover {
        color: white;
        text-decoration: underline;
      }
    
    }
  }

  .wallpaper3 {
    width: 100%; /* width of container */
    height: 100vh; /* height of container */
    object-fit: cover;
    object-position: 50% 100% 20%;
    filter: brightness(80%);
    animation: hover 2s;
    animation-play-state: paused;
    animation-fill-mode: backwards;
    overflow-y: hidden;
}

@keyframes hover {
  0% {
    // normal
    filter: brightness(0%);
  }
  100% {
    // hover
    filter: brightness(80%);
  }
}

.wallpaper3:active,
.wallpaper3:focus,
.wallpaper3:hover {
  animation-play-state: running;
  animation-play-state: forwards;
  animation-fill-mode: forwards;
}

.banner {
  display: block;
  position: absolute;
  width: 75%;
  left: 10vw;
  top: 220vh;
  height: 200px;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  border: green solid 2px;
  box-shadow: 2px 2px 2px;
  overflow-y: hidden;
}

.webpage {
  width: 420px;
  height: auto;
  border-radius: 25px;
  opacity: 85%;

  &:hover {
    opacity: 100%;
  }
}

.information h4{
  color: white;
  position: absolute;
  font-weight: 300;
  text-align: center;
  top: 7vh;
  left: 35vw;
  overflow-y: hidden;
}

.banner1 {
  display: block;
  position: absolute;
  width: 75%;
  left: 16vw;
  top: 247vh;
  height: 200px;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  border: green solid 2px;
  box-shadow: 2px 2px 2px;
  overflow-y: hidden;
}

.webpage1 {
  width: 420px;
  height: auto;
  border-radius: 25px;
  opacity: 85%;

  &:hover {
    opacity: 100%;
  }
}

.information1 h4{
  color: white;
  position: absolute;
  font-weight: 300;
  text-align: center;
  top: 7vh;
  left: 35vw;
  overflow-y: hidden;
}

.banner2 {
  display: block;
  position: absolute;
  width: 75%;
  left: 10vw;
  top: 274vh;
  height: 200px;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  border: green solid 2px;
  box-shadow: 2px 2px 2px;
  overflow-y: hidden;
}

.webpage2 {
  width: 420px;
  height: auto;
  border-radius: 25px;
  opacity: 85%;

  &:hover {
    opacity: 100%;
  }
}

.information2 h4{
  color: white;
  position: absolute;
  font-weight: 300;
  text-align: center;
  top: 7vh;
  left: 35vw;
  overflow-y: hidden;

}

.project-title {
  color: white;
  font-weight: 200;
  padding: 0 25px;
  background-color: rgb(15, 26, 26);
  border-radius: 25px;
  border: green solid 2px;
  font-size: 2em;
  position: absolute;
  top: 208.5vh;
  left: 42vw;
}