* {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.icon-bar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 4.5vh;
  left: 70vw;
  background-color: none;
  z-index: 99999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 15px 20px 5px 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  font-size: 32px;
  border-radius: 5px;
  background: -webkit-linear-gradient(45deg, white, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.facebook i {
  padding: 0 5px;
}

.facebook:hover {
  background: #3B5998;
  -webkit-text-fill-color: white;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.instagram:hover {
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  -webkit-text-fill-color: white;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.email:hover {
  background: #164622;
  -webkit-text-fill-color: white;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.linkedin:hover {
  background: #007bb5;
  -webkit-text-fill-color: white;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.github:hover {
  background: #6e5494;
  -webkit-text-fill-color: white;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.wallpaper {
  width: 100%;
  /* width of container */
  height: 100vh;
  /* height of container */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100% 20%;
     object-position: 50% 100% 20%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  -webkit-animation: hover 8s;
          animation: hover 8s;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes hover {
  0% {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  100% {
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
}

@keyframes hover {
  0% {
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
  100% {
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
}

.wallpaper:active,
.wallpaper:focus,
.wallpaper:hover {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-play-state: forwards;
          animation-play-state: forwards;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.brand {
  padding: 0.5em;
  position: absolute;
  left: 4.4em;
  top: 1.5em;
  z-index: 101;
}

.brand a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.589);
  font-weight: 300;
  font-size: 24pt;
}

.brand a:hover {
  background: -webkit-linear-gradient(45deg, green, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  right: 2em;
  top: 2em;
  z-index: 100;
}

li {
  float: right;
  padding: 20px;
}

li a {
  display: block;
  color: rgba(255, 255, 255, 0.589);
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

li a:hover {
  color: white;
  text-decoration: underline;
}

.believe {
  position: absolute;
  z-index: 99;
  top: 100px;
  left: 15px;
  margin: 100px 600px 100px 100px;
  z-index: 100;
  font-size: 6vw;
  font-weight: 100;
  color: white;
  text-align: left;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 3em;
  right: .5em;
  z-index: 99;
  border: black 2px solid;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 10pt;
  border-radius: 10px;
  background-color: #16462254;
  color: white;
}

#myBtn:hover {
  background-color: darkslategray;
  color: white;
  border: white 2px solid;
}

.wallpaper2 {
  width: 100%;
  height: 65vh;
  margin-top: -7px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  background-color: #334a33;
}

.slogan {
  font-size: 42pt;
  font-weight: 200;
  text-align: center;
  margin: 5vh 17vw 0 17vw;
}

.slogan i {
  background: -webkit-linear-gradient(270deg, white, #5e5e5e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about {
  font-weight: 200;
  text-align: center;
  margin: 5vh 20vw;
}

.knowledge {
  width: 100%;
  height: auto;
  position: absolute;
  top: 165vh;
  left: 40vw;
}

.grid {
  display: block;
  width: 100%;
  height: 35vh;
  background-color: rgba(97, 110, 97, 0.701);
}

.img1 {
  width: 30vw;
  position: absolute;
  margin-left: 2vw;
  margin-top: 3vh;
  border-radius: 25px;
  border: black solid 3px;
}

.img2 {
  width: 30vw;
  margin-left: 68vw;
  position: absolute;
  margin-top: 3vh;
  border-radius: 25px;
  border: black solid 3px;
}

.img3 {
  width: 30vw;
  margin-left: 35vw;
  position: absolute;
  margin-top: 3vh;
  border-radius: 25px;
  border: black solid 3px;
}

#myBtn {
  z-index: 9999999;
}

.overlay-content {
  display: none;
}

.closebtn {
  display: none;
}

span {
  display: none;
}

.menuopt {
  display: block;
  position: absolute;
  margin-top: 6vh;
  margin-right: 55vw;
}

.menuopt a {
  color: rgba(255, 255, 255, 0.589);
}

.menuopt a:hover {
  color: white;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */